{% extends 'admin/layout.html.twig' %}
{% block content %}
    <div class="hero-unit">
        <ul class="breadcrumb">
            <li><h4><a href="/admin/thun/categories/">Категории</a></h4></li>
        </ul>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered">
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.getId() }}</td>
                            <td><a href="/admin/thun/categories/{{ category.getSeoLink() }}/">{{ category.getName() }}</a></td>
                            <td>{{ category.getDisplayName() }}</td>
                            <td>{{ category.getSeoLink() }}</td>
                            <td class="span1"><a data-toggle="modal" href="#myModal"></a><i class="icon-edit"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}